.issue {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.issue-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue-issue-wrapper {
  width: 70%;
}

.issue-dates {
  width: 30%;
}

.issue-buttons {
  text-align: center;
}

.hidden {
  display: none;
}

.issue-solved-button {
  background-color: green;
}

.issue-combined-button {
  background-color: orange;
}

.issue-killed-button {
  background-color: red;
}

.issue.solved {
  background-color: green;
}

.issue.killed {
  background-color: red;
}

.issue.combined {
  background-color: yellow;
}