.todo {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.todo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-todo-wrapper {
  width: 70%;
}

.todo-dates {
  width: 30%;
}

.todo-buttons {
  text-align: center;
}

.todo-done-button {
  background-color: green;
}

.todo-hold-button {
  background-color: orange;
}

.todo-not-done-button {
  background-color: red;
}

.todo.done {
  background-color: green;
}

.todo.not-done {
  background-color: red;
}

.todo.hold {
  background-color: yellow;
}